@font-face {
    font-family: Geometria;
    src: url(geometria_font/Geometria.ttf);
    font-weight: 300;
}

@font-face {
    font-family: Geometria;
    src: url(geometria_font/Geometria-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: Geometria;
    src: url(geometria_font/Geometria-ExtraBold.ttf);
    font-weight: 800;
}

@font-face {
    font-family: Geometria;
    src: url(geometria_font/geometria-light.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Geometria;
    src: url(geometria_font/geometria-medium.ttf);
    font-weight: 500;
}

.wrapper header.header .logo {}

.wrapper header.header .logo h2 {
    margin: 0 0 0 40px;
    padding: 0;
}
.colour{
    background-color: #FCF9F2; 
}

.wrapper header.header .logo h2 a {
    color: #061e37;
    font-family: cursive;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    line-height: 70px;
    padding: 22px 0;
    text-transform: uppercase;
}

.wrapper header.header .menu {
    margin: 0
}

.wrapper header.header .menu ul {
    float: left;
    margin: 0;
    padding: 0;
    margin-right: 4px;
}

.wrapper header.header .menu ul li {
    display: inline-block;
    list-style: outside none none;
    margin: 0 -4px 0 0;
}

.wrapper header.header .menu ul li a {
    color: rgb(6, 30, 55);
    font-family: cursive;
    font-size: 15px;
    font-weight: 600;
    line-height: 70px;
    padding: 26px 45px;
    text-decoration: none;
    text-transform: uppercase;
}

.wrapper header.header .menu ul li.active a {
    background: #40c4ff;
    color: #fff;

}

.wrapper header.header .menu ul li a:hover, a:active{ 
       font-size: 250%;
   
}
.slider-container {
    width: 100%;
    height: 50%;
}

    .fa {
border-radius: 100%;
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.footer1{
    background-color:  #2DB1FE; 
    width: 85%; 
    margin: 0px !important;
}

.footer2{
    margin: 0xp !important; 
    padding: 0px !important;
}
.footer3{
    justify-content: center; 
    align-items: center;
}

.footer4{
    padding-top: 20px; 
    padding-left: 0px !important; 
    padding-right: 0px !important;
}
.footer5{
    color: #000000;
}
.footer6{
    font-family: Open Sans;
    font-weight: 400;
    font-size: 16px;
}


.headin{
  color: white;
  padding-top: 5vw;
  margin-left: 8vw;
  font-weight: bolder;
  font-family: Open Sans;
  text-align: left;
  font-size: 3.3vw;;
}
.head_cont{
  color: white;
  margin-left: 8vw;
  margin-right: 5vw;
  font-size: 1.6vw;
  font-weight: bolder;
  font-family: Open Sans;
  text-align: left;
  padding-bottom: 5vw;
}
.Login{
  margin-left: 6vw;
}

.box1{
  width: 25vw;
  height: 3.5vw;
  margin-bottom: 2vw;
}
input[type="text"]{
  font-size: 1.4vw;
  padding-left: 1.4vw;
}
.join{
  border: none;
  background-color: #2db1fe;
  width: 15vw;
  padding: 1vw;
  font-size: 1.4vw;
  color: white;
  font-weight: bold;
  font-family: Open Sans;
  border-radius: 6px;
}
.joinus{
    background-color: #056eab;
}



/*======================================
//--//-->   PORTFOLIO
======================================*/

.work-box {
  margin-bottom: 3rem;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: #fff;
}

.work-box:hover img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.work-img {
  display: block;
  overflow: hidden;
  height: 200px;
}

.work-img img {
  transition: all 1s;
}

.work-content {
  padding: 2rem 3% 1rem 4%;
}

.work-content .w-more {
  color: #4e4e4e;
  font-size: 20px;
}

.work-content .w-more .w-ctegory {
  color: #0078ff;
}

.work-content .w-like {
  font-size: 2.5rem;
  color: #0078ff;
  float: right;
}

.work-content .w-like a {
  color: #0078ff;
}

.work-content .w-like .num-like {
  font-size: .7rem;
}

.w-title {
  font-size: 1.2rem;
}

section.bg-text-area .bg-text {
    background-image: url(img/bg-iamges.jpg);
    background-size: 100% 100%;
    padding: 205px 280px;
}


/*main section*/

*{

            box-sizing: border-box;
        }

        main{

            width: 65%;
            float: left;
            margin: 10px 10px 10px 100px;
            padding: 15px;
        }
@media (min-width: 500px){
        aside{

            width: 20%;
            margin: 1px 20px 10px 0px;
            float: right;
            padding: 15px;
        }
    }
        

        h1{

            color: #13a7d4;
            text-align: left;
            text-transform: uppercase;

        }

        h1>p{

            color: grey;
        }
        .content{
            font-size: 20px;
            display: inline-block;
            padding: 10px;
            margin: 10px;
            color: #000000;
        }

        .images{
            height: 300px;
            width: 150px;
            margin: 10px 10px 10px 125px;
            padding: 5px;
            float: left;

        }
        figcaption{

            color: grey;
            text-align: center;
            padding: 5px;
            margin-bottom: 20px;
        }


        .aside1{

            height: auto;
            margin: 20px;
            margin-top: 100px;
            margin-bottom: 800px;
            border: 15px solid #272075;
            border-top-width: 100px;

        }

        .aside1>img{

        display: block;
        align-items: center;
        border-radius: 100px;
        height: 150px;
        width: 150px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        top: -80px;
        margin-bottom: -50px;
        }
        .aside1 p{

            background-color: white;
            width: 95%;
            padding: 5px 5px 5px 10px;
            text-align: justify;

        }
        .aside1 h3{
            text-transform: uppercase;
            margin: 2px;
            color: #272075;
            font-family: Arial, sans-serif;
            font-size: 32px;
            text-align: center;
        }
        .aside2-container{

            border-top: 5px solid #272075;
            border-bottom: 5px solid #272075;
            height: auto;
            margin: 20px;
            margin-top: 100px;

        }
        .aside2-container h3{
            text-transform: uppercase;
            margin: 2px;
            color: #272075;
            font-family: Arial, sans-serif;
            font-size: 24px;
            text-align: center;
            display: grid;
            grid-template-rows: auto auto auto;
        }
        .aside2-item{

            height: auto;
            align-items: center;

        }
        .aside2-item img{

            height: 100px;
            width: 80%;
            margin: 2px;
            margin-left: 20px;
        }
        .aside2-item p{

            padding: 5px;
            text-align: justify;
        }
        .aside2-item h4{

            text-align: center;
            color: #272075;
            text-transform: uppercase;
            font-family: Arial,sans-serif;
            margin: 2px;
        }

.content22{
    marker-top: 30px; 
}




  h1{
    text-align: center;
    color: #007399;
    font-family: "Gill Sans", sans-serif;
    font-size: 32px;
  }

  .p1{
    color: #0077b3;
    text-align: left;
    font-size: 18px;
    font-family: "Gill Sans", sans-serif;
    font-weight: bold;
    margin-left: 25px;
  }

  .p2{

    color: #0077b3;
    text-align: center;
    font-size: 16px;
    font-family: "Comic Sans MS", cursive;
  }

  .displayed {
      display: block;
      margin-left: auto;
      margin-right: auto;
      height: auto;
      width: 85%;
    }

  .grid-container3{
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: auto; 
    justify-content: center;
  }
  .grid-item3{
    margin: 10px;
    float: left;
    font-family: "Comic Sans MS", cursive;
    color: #006699;
    padding: 10px;
    padding: 15px;
    background-color: white;
    box-shadow: 3px 3px 5px #ada8a8;
  }
    button{

      display: inline-block;
      background-color: #2fe3e6;
      color: white;
      border-style: none;
      border-radius: 10px;
      font-size: 20px;
      font-family: "Gill Sans", sans-serif;
      float: right;
      padding: 5px 10px;
    }

  @media (max-width: 768px){

    .grid-container3{
    grid-template-columns: 300px;
    grid-template-rows: auto auto auto;
    }
  }