@font-face {
    font-family: Geometria;
    src: url(geometria_font/Geometria.ttf);
    font-weight: 300;
}

@font-face {
    font-family: Geometria;
    src: url(geometria_font/Geometria-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: Geometria;
    src: url(geometria_font/Geometria-ExtraBold.ttf);
    font-weight: 800;
}

@font-face {
    font-family: Geometria;
    src: url(geometria_font/geometria-light.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Geometria;
    src: url(geometria_font/geometria-medium.ttf);
    font-weight: 500;
}

.wrapper header.header .logo {}

.wrapper header.header .logo h2 {
    margin: 0 0 0 40px;
    padding: 0;
}
.colour{
    background-color: #FCF9F2; 
}

.slider-container {
    width: 100%;
    height: 50%;
}

   .fa {
border-radius: 100%;
  padding: 10px;
  font-size: 30px;
  width: 55px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #18446F;
  color: white;
}

.fa-twitter {
  background: #18446F;
  color: white;
}

.fa-instagram {
  background: #18446F;
  color: white;
}

.fa-linkedin {
  background: #18446F;
  color: white;
}

.footer1{
    background-color:  #2DB1FE; 
    width: 85%; 
    margin: 0px !important;
}

.footer2{
    margin: 0px !important; 
    padding: 0px !important;
}
.footer3{
    justify-content: center; 
    align-items: center;
}

.footer4{
    padding-top: 20px; 
    padding-left: 0px !important; 
    padding-right: 0px !important;
}
.footer5{
    color: #000000;
}
.footer6{
    font-family: Open Sans;
    font-weight: 400;
    font-size: 16px;
    justify-content: center;
}


.headin{
  color: white;
  padding-top: 5vw;
  margin-left: 8vw;
  font-weight: bolder;
  font-family: Open Sans;
  text-align: left;
  font-size: 3.3vw;;
}
.head_cont{
  color: white;
  margin-left: 8vw;
  margin-right: 5vw;
  font-size: 1.6vw;
  font-weight: bolder;
  font-family: Open Sans;
  text-align: left;
  padding-bottom: 5vw;
}
.Login{
  margin-left: 6vw;
}

.box1{
  width: 25vw;
  height: 3.5vw;
  margin-bottom: 2vw;
}
input[type="text"]{
  font-size: 1.4vw;
  padding-left: 1.4vw;
}
.join{
  border: none;
  background-color: #2db1fe;
  width: 15vw;
  padding: 1vw;
  font-size: 1.4vw;
  color: white;
  font-weight: bold;
  font-family: Open Sans;
  border-radius: 6px;
}
.joinus{
    background-color: #056eab;
}




.Crible_block{
    background-color: #FCF9F2; 
    margin: 0;
    margin-top: 2vw;
    background-color: rgba(221, 221, 221,0.4);
}
.Crible_marg{
    margin-bottom: 0;
 
    padding-bottom: 2vw;
}
.Crible_para{

    padding-left: 3vw;
    font-size: 1.3vw;
    color: #2db1fe;

}
.Crible_head{
    padding-right: 10vw;
    font-size: 1.3vw;
    color: #004066 ;

}
.commu_icon{
    color: #000;
    font-size: 3vw;
}

.image{
     border-radius: 50%;
     width: 20%;

 }

 .image2
 {
     width: 20%;
     padding-left: 20px;
 }


/*blog section*/


.colour2{
    background-color: white;
}


.grid-container_featured{

            display: inline-grid;
            grid-template-areas: 'newArea newArea newArea';
            grid-template-rows: 50px 350px 350px;
            justify-content: center;
            grid-column-gap: 25px;
            grid-row-gap: 30px;
            background-color: #FCF9F2;
            margin: 5px 10px 10px 25px;
            width: 70%;
        }
        .grid-item{
            padding: 10px;
            box-shadow: 3px 3px 5px #ada8a8;
            text-align: center;
        }
        .grid-item1 {
            grid-area: newArea;
            font-size: 32px;
            color: #09373c;
            font-family:  Open Sans;
            margin: 2px;
            text-align: center;
        }
        .grid-item3{
            grid-row: 2 / 4;
            grid-column: 2 / 3;
        }
        .grid-item h4{

            font-size: 20px;
            font-family:  Open Sans;
            margin: 5px;
            padding: 5px;
            color: #09373c;
            text-align: center;

        }
        .grid-item p{

            margin: 0px;
            text-align: justify;

        }
        button{

            display: inline-block;
            background-color: #5DC5FD;
            color: white;
            border-style: none;
            border-radius: 8px;
            font-size: 14px;
            font-family:  Open Sans;
            float: right;
        }

        .grid-container_latest{

            display: inline-grid;
            grid-template-areas: 'newArea';
            grid-template-rows: 50px 175px 175px 175px 175px;
            grid-row-gap: 10px;
            background-color: #FCF9F2;
            margin: 5px 10px 10px 5px;
            width: 20%;
            /*position: absolute;
            right: 10px;
            top: 10px;*/
            /*box-shadow: 3px 3px 3px #ada8a8;*/
        }
        .grid-item_latest{
            padding: 10px;
            box-shadow: 3px 3px 5px #FCF9F2;
            text-align: center;
            margin-top: 20px;
        }
        .grid-item_latest1 {
            grid-area: newArea;
            font-size: 32px;
            color: #09373c;
            font-family:  Open Sans;
            margin: 2px;
            text-align: center;
        }
        .grid-item_latest h4{

            font-size: 20px;
            font-family:  Open Sans;
            margin: 5px;
            padding: 5px;
            color: #09373c;
            text-align: center;

        }
        .grid-item_latest p{

            margin: 0px;
            text-align: justify;

        }

        @media (min-width: 999px){

        .grid-container_latest{

            position: relative;
            left: 20px;
           
        }
        }

        @media (max-width: 998px){


            .grid-container_featured{

            align-items: center;
            margin: 15px;
        }


        .grid-container_latest{

            margin: 15px;
            align-items: center;
        }


        }



        /*categories*/
        .grid-container5{

            display: grid;
            grid-template-rows: auto auto auto auto;
            margin: 10px;
            background-color: white;
        }
        .grid-item5{

            padding: 15px;
        }
        .grid-item15{

            font-size: 50px;
            color: #09373c;
            font-family:  Open Sans;
        text-align: center;

        }
        .grid-item25{
position: relative;
          left: 30%;
            
        }
        .grid-item35{
position: relative;
          left: 55%;
            
        }
        .grid-item5 img{

            height: 100px; 
            width: 100px;
            border-radius: 100px;
            float: left;
            margin: 10px;
        }
        .grid-item5 h3{

            font-size: 20px;
            font-family:  Open Sans;
            margin: 5px;
            padding: 5px;
            color: #09373c;
            text-align: left;
        }
        .grid33 h6{
            font-size: 13px;
            font-family: Open Sans;
            margin: 5px;
            padding: 5px;
            color: #09373c;
           text-align: left;
        }
        .button5{
            
            display: inline-block;
            background-color: #5DC5FD;
            color: white;
            border-style: none;
            border-radius: 10px;
            font-size: 20px;
            font-family:  Open Sans;
            float: left;
            padding: 5px 10px;
        }

        .colour3{
            background-color:  #FCF9F2;
        }




/*profile area*/

*{
      box-sizing: border-box;
      font-family: Open Sans;
    }

   
    h5, h6, p{

      color: #184654;
    }

    h5{

      font-family: "Gill Sans", sans-serif;
      font-size: 24px;
    }
    p{
      font-family: "Calibri";
      margin-top: -15px;
    }
    
    .left-profile{

      float: left;
      width: 25%;
      margin: 10px;
      padding: 10px;

    }

    .right-profile{

      float: left;
      width: 65%;
      margin: 10px;
      padding: 10px;
    }

    .b1-profile{
      padding: 0.50% 0.75%;
      background-color: #07a399;
      color: #01475e;
      font-family: Open Sans;
      font-weight: bold;
      border: none;
      text-align: center;
      font-size: 16px;

    }

    .b2-profile{

      float: right;
      border-radius: 50px;
      padding: 5px 15px;
      background-color: #76ccc2;
      color: #01475e;
      font-family: Open Sans;
      font-weight: bold;
      border: none;
      text-align: center;
      font-size: 16px;
      margin-top: -15px;
      margin-right: 5px;
    }

    .grid-container-profile{

      grid-template-rows: auto auto auto;

    }
    .grid-item-profile{

      background-color: white;
      padding: 20px;
      margin: 10px;
      box-shadow: 10px 5px 10px #aaaaaa;
    }
    .img1-profile{

      border-radius: 100px;
      position: relative;
      left: 30%;
      height: 100px;
      width: 100px;
    }
    .img2-profile{

      height:100px;
      width: 120px;
    }
    .left-profile p8{

      text-align: justify;
    }
    .icons-profile{

      margin: 2px;
      color: #184654;
    }
.sharad-profile{
  text-align: center;
}
.sharad2-profile{
  font-size:24px; 
  float: right;
}

/*blog section*/
.bg-text-area .bg-text {
    background-image: url(img/bg-iamges.jpg);
    background-size: 100% 100%;
    padding: 205px 280px;
}


/*main section*/

*{

            box-sizing: border-box;
        }

        .main{

            width: 65%;
            float: left;
            margin: 10px 10px 10px 100px;
            padding: 15px;
        }

        .aside{

            width: 20%;
            margin: 1px 20px 10px 0px;
            float: right;
            padding: 15px;
        }
    
        

        h1{

            color: #13a7d4;
            text-align: left;
            text-transform: uppercase;

        }

        h1,p{

            color: grey;
        }
        .content-blog{
            font-size: 20px;
            display: inline-block;
            padding: 10px;
            margin: 10px;
            color: #000000;
        }

        .images-blog{
            height: 300px;
            width: 150px;
            margin-left: 80px;
            padding: 5px;
            float: left;

        }
        .figcaption-blog{

            color: grey;
            text-align: center;
            padding: 5px;
            margin-bottom: 20px;
        }


        .aside1-blog{

          
            margin: 20px;
            margin-top: 100px;
            margin-bottom: 800px;
            border: 15px solid #272075;
            border-top-width: 100px;

        }


        .aside1-blog>img{

        display: block;
        align-items: center;
        border-radius: 50%;
        height: 100%;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        top: -80px;
        margin-bottom: -50px;
        }
        .aside1-blog p{

            background-color: #FCF9F2;
            width: 100%;
            padding: 5px 5px 5px 10px;
            

        }
        .aside1-blog h3{
            text-transform: uppercase;
            margin: 2px;
            color: #272075;
            font-family: Open Sans;
            font-size: 32px;
            text-align: center;

        }
        .aside2-container-blog{

            border-top: 5px solid #272075;
            border-bottom: 5px solid #272075;
            height: auto;
            margin: 20px;
            margin-top: 100px;

        }
        .aside2-container-blog h3{
            text-transform: uppercase;
            margin: 2px;
            color: #272075;
            font-family: Arial, sans-serif;
            font-size: 24px;
            text-align: center;
            display: grid;
            grid-template-rows: auto auto auto;
        }
        .aside2-item-blog{

            height: auto;
            align-items: center;

        }
        .aside2-item-blog img{

            height: 100px;
            width: 80%;
            margin: 2px;
            margin-left: 20px;
        }
        .aside2-item-blog p{

            padding: 5px;
            text-align: justify;
        }
        .aside2-item-blog h4{

            text-align: center;
            color: #272075;
            text-transform: uppercase;
            font-family: Arial,sans-serif;
            margin: 2px;
        }

.content22-blog{
    margin-top: 30px; 
}

.sharad-blogg{
   width: 75%;
            
}


 h1{
    text-align: center;
    color: #007399;
    font-family: "Gill Sans", sans-serif;
    font-size: 32px;
  }

  .p1{
    color: #0077b3;
    text-align: left;
    font-size: 18px;
    font-family: "Gill Sans", sans-serif;
    font-weight: bold;
    margin-left: 25px;
  }

  .p2{

    color: #0077b3;
    text-align: center;
    font-size: 16px;
    font-family: "Comic Sans MS", cursive;
  }

  .displayed-blog {
      display: block;
      margin-left: auto;
      margin-right: auto;
      height: auto;
      width: 85%;
    }

  .grid-container3-blog{
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: auto; 
    margin-left: 20px;
  
  }
  .grid-item3-blog{
    margin: 10px;
    float: left;
    font-family: "Comic Sans MS", cursive;
    color: #006699;
    padding: 10px;
    padding: 15px;
    background-color: white;
    box-shadow: 3px 3px 5px #ada8a8;
  }
    button{

      display: inline-block;
      background-color: #2fe3e6;
      color: white;
      border-style: none;
      border-radius: 10px;
      font-size: 20px;
      font-family: "Gill Sans", sans-serif;
      float: right;
      padding: 5px 10px;
    }

  @media (max-width: 768px){

    .grid-container3-blog{
    grid-template-columns: 300px;
    grid-template-rows: auto auto auto;
    }
  }



  /*navbar*/
  .topnav {
  overflow: hidden;
  background-color: #FCF9F2;
}

.topnav a {

  float: left;
  display: block;
  color: black;
margin-left: 90px;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  font-size: 250%;
  color: black;

}

.topnav a.active {

}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}


#mobilehdn{
  display: none;
}
